.lightboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjust as needed */
  }
  
  .lightboard-row {
    display: flex;
    justify-content: center;
    margin: 5px 0;
  }
  
  .lightboard-letter {
    background-color: #333;
    border: 2px solid #444; /* Darker border for the unlit state */
    border-radius: 50%; /* Circular lights */
    color: #fff; /* White text color */
    font-size: 20px;
    margin: 0 6px;
    padding: 10px;
    text-align: center;
    width: 30px; /* Fixed width for circular shape */
    height: 30px; /* Fixed height for circular shape */
    line-height: 30px; /* Center the letter vertically */
    transition: background-color 0.3s;
  }
  
  .lightboard-letter.lit {
    background-color: rgba(255, 255, 0, 0.567); /* Yellow background for the lit state */
    border-color: rgb(151, 151, 50); /* Yellow border for the lit state */
    color: #eba611;
  }
  